@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.App > div {
  background-color: floralwhite;
}

* {
  box-sizing: border-box;
}
.header {
  background-color: rgba(47, 79, 79, .8);
  color: white;
  padding: 15px;
}

.App-title {
  font-size: 2.5em;
  font-family: 'Lakki Reddy', cursive;
  letter-spacing: 5px;
  text-shadow: 0 0 15px blue;
  margin: 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
  height: 100%;
}

.menu {
  height: 86vh;
  overflow: scroll;
  padding: 0px 15px;
  box-shadow: 2px 2px 5px rgba(128, 0, 128, .2);
}

.menu::-webkit-scrollbar {
  width: 0;
}

.user-div {
  position: sticky;
  top: 0;
}

.menu, .user-div {
  background-color: rgb(236, 204, 139);
}

.welcome{
  font-family: 'Lakki Reddy', cursive;
  font-size: 1.5em;
  margin: 5px;
}

.room-list {
  padding: 0px 15px;
}

.room-button, .active-room {
  width: 80%;
}

.room-name {
  width: 60%;
  float: left;
  padding: 5px;
}

.msg-container {
  background-color: azure;
  height: 65vh;
  padding: 0 10px 0 10px;
  overflow: scroll;
  box-shadow: 0 0 15px darkgray inset;
}

.msg-container::-webkit-scrollbar {
  width: 0;
}

.msg-form {
  position: relative;
  bottom: 0;
  background-color: antiquewhite;
}

button, .create-room {
  margin: 5px;
  padding: 15px;
  box-shadow: 3px 3px 5px black;
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

.btn {
  width: 25%;
  padding: 10px;
  border: 1px solid darkgray;
  background-color: rgba(106, 90, 205, .8);
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(106, 90, 205, .6);
}

.room-button:hover {
  background-color: rgba(169, 169, 169, .6);
}

.active-room {
  background-color: rgba(112, 128, 144, .6);
}

.active-room:hover {
  background-color: rgba(112, 128, 144, .8);
}

.create-room {
  width: auto;
}

#create-room {
  height: 2.5em;
  width: 80%;
}

#msg-input {
  width: 80%;
  height: 45px;
}

.room-header {
  font-family: 'Lakki Reddy', cursive;
  font-size: 2rem;
  border-bottom: 1px solid black;
}

.msg-row, .user-msg {
  border: 1px solid blue;
  border-radius: 10px;
  width: 40%;
  margin-bottom: 5px;
  padding: 20px;
}

.msg-row {
  border-radius: 10px;
  background-color: rgba(4, 121, 49, 0.6);
}

.user-msg {
  position: relative;
  left: 55%;
  background-color: rgba(158, 253, 253, 0.8);
}

.msg-text {
  text-align: left;
}
.msg-sender {
  font-size: 10px;
  font-style: italic;
  color: lightgrey;
  text-align: right;
  margin-top: 4px;
}

.remove-icon, .ion-md-create {
  visibility: visible;
  font-size: 18px;
  width: 15%;
  padding: 5px; 
  float: left;
}

.remove-icon:hover, .ion-md-create:hover {
  color: purple;
}